<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>

<p>
  <b>String:</b>
  <%= @contact.string %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Message:</b>
  <%= @contact.message %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
